*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.head{
    background-color: #272727;
    color: white;
    position: relative;
    width: 100%;
    z-index: 1;
}
.head_content{
    width: 100%;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; */
    display: flex;
    justify-content: center;
}
.head_address{
    width: 33%; 
    display: flex;
    margin: 20px 0px;
    padding-left: 100px;
    padding-right: 0px;
}

.head_phone{
    width: 33%; 
    display: flex;
    margin: 20px 0 20px 0px;
}
.head_icon{
    width: 33%; 
    display: flex;
    margin: 15px 0;
    justify-content: flex-end;
    padding: 0 50px 0 0;
}
.head_address i,
.head_phone i,
.head_icon i{
    margin: 0 10px;
}
.fa-map-marker-alt,
.fa-phone{
    color: #2ac5f4;
}
.head_icon i:hover{
    color: #2ac5f4;
    cursor: pointer;
}

/* 大張圖片區 */

.body_Construction{
    position: relative;
}
.Construction_img{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;  
    height: 765px;
    /* top: -10px; */
}
.Construction_img img{
    width: 100%;
    height: 100%;
    object-fit:none;    /*隨畫面縮放*/
    filter: brightness(.5);     /*圖片透明度*/
    background-position: center center;
}

.Construction_content{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    /* background-color: red;
    opacity: .5; */
    color: white;
}
.Construction_content a{
    text-decoration: none;
    color: white;
}
.menu_bar{
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1385px;
}
.menu_bar_img{
    width: 26%;
}
.menu_bar_text{
    width: 64%;
    padding: 30px 5px;
    justify-content: space-between;
}
.menu_bar_text a{
    margin: 0 30px 0 30px;
    font-family: "Montserrat", Sans-serif;
}
.menu_bar_search{
    width: 9.996%;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    padding: 30px 20px;
}
.menu_bar_text a:hover,
.menu_bar_search i:hover{
    cursor: pointer;
    color: #2ac5f4;
}
.menu{
    position: relative;
    margin: 50px 50px 0;
    max-width: 1385px;
    margin: auto;
}
.menu a{
    width: 300px;
    height: 60px;
    background-color: #2ac5f4;
}
.menu_h1{
    position: relative;
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    font-family: "Montserrat", Sans-serif;
}
.menu_h4{
    position: relative;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Montserrat", Sans-serif;
}
.menu_a{
    position: relative;
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Montserrat", Sans-serif;
}
.menu_aa a{
    position: relative;
    height: 50px;
    background-color: #2ac5f4;
    justify-items: center;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
}

/* OUR SERVICES區 */

.our_server{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
}
.our_server_text{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.our_server_text h1::before{
    content: '';
    display: inline-block;
    width: 66px;
    height: 3px;
    background-color: #0af;
    position: absolute;
    top: -70px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.our_server_icon{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.icon_item{
    display: flex;
    width: 30%;
    height: 210px;
    margin-top: 28px;
    padding-left: 12px;
    padding-right: 12px;
}

.icon_item i{
    font-size: 60px;
    width: 79px;
    height: 69px;
    color: #2ac5f4;
}

.icon_text{
    margin-left: 18px;
}

.icon_text h2{
    width: 236px;
    line-height: 34px;
    font-family: sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #333333;
    font-size: 18px;
}

.icon_text p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #888888;
    letter-spacing: 0px;
    font-family: sans-serif;
}

/* our history */

.our_history{
    width: 100%;
    margin: auto;
    padding: 75px 0;
    background-color: #f6f6f7;
    position: relative;
    display: flex;
}


.history_text{
    position: relative;
}

.history_text .blue{
    padding: 40px 15px;
    margin: 20px 20px;
    position: relative;
}

.history_text .title h2{
    font-family: "Montserrat",sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 42px;
    letter-spacing: 1.8px;
    padding: 0px 20px 0px;
}

.history_text .text1 h3{
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    color: #333333;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 34px;
    letter-spacing: 1.08px;
    padding: 40px 20px 40px;
}

.history_text .text2{
    padding: 0 20px 30px;
}

.history_text .text2 p{
    font-family: "Lato",sans-serif;
    font-size: 18px;
    color: #888888;
    font-weight: 300;
    line-height: 30px;
}

.history_text .bt_readmore{
    padding: 0 20px 30px;
}

.history_text .bt_readmore a{
    color: #FFF;
    font-family: "Montserrat",sans-serif;
    background-color: #2ac5f4;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 20px 30px 20px 30px;
}

/* photo_album */

.photo_album{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 100px;
    /* position: relative; */
}

.photo_item{
    width: 100%;
    position: relative;
}

.photo_album img{
    width: 100%;
    height: 358px;
    object-fit: cover;
    vertical-align: top;
    position: relative;
}

.photo_album h1{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
    color: #ffffff;
    align-items: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px){
    .photo_item{
        width: 50%;
    }
}

@media screen and (min-width: 1025px){
    .photo_item{
        width: 25%;
    }
}

/* recent_news */

.recent_news{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (min-width: 768px){

}

.recent_news .title{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.recent_news .new_text{
    display: flex;
    flex-direction: row;
}

.new_text .news{
    width: 30%;
    padding: 0 50px;
}

.recent_news .new_text h2{
    letter-spacing: 3px;
    text-align: center;
    font-size: 24px;
    font-family: Montserrat,sans-serif;
    color: #000;
    font-weight: bold;
    position: relative;
}

.news .news_img img{
    max-width: 100%;
    height: auto;
}

.news .news_title a{
    text-decoration: none;
    font-size: 18px;
    font-family: Montserrat,sans-serif;
    color: black;
    letter-spacing: 2px;
}

.news .news_date p{
    font-style: italic;
    font-size: 14px;
    font-family: Montserrat,sans-serif;
    color: #888888;
}

.news .news_content p{
    font-size: 18px;
    font-family: Montserrat,sans-serif;
    color: #888888;
    line-height: 1.5;
}

.news .bt_seeallnew{
    margin: 20px 28.1333333333333%;
    padding: 10px 0;
}

.news .bt_seeallnew button{
    width: 164px;
    height: 60px;
    border: 0;
    background-color: #00cffc;
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    outline: none;
}
